/*CABEÇALHO*/
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.material-symbols-outlined {
    display: none;
}

header > menu > nav ul {
    list-style-type: none;
}

header > menu > nav ul li {
    display: inline;
}

header > menu > nav a {
    color: black;
    text-decoration: none;
    padding: 25px;
    display: inline-block;
}

header > menu > nav a:hover {
    color: var(--azul3);
}

#login {
    text-decoration: none;
    font-weight: normal;
    background-color: var(--azul3);
    color: white;
    padding: 10px 30px;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: var(--azul2);
    transition-duration: .5s;
}

#login:hover {
    color: var(--azul3);
    background-color: black;
    border-color: var(--azul3);
}


/*PRINCIPAL*/
#nome-empresa {
    margin: auto;
}

#principal {
    display: flex;
    flex-direction: column;
}

#anuncio {
    width: 70%;
    margin: auto;
}

.contact-info {
    margin: 30px auto;
}

#link-maps {
    margin: auto;
}